# Virtual Environment
/venv/
env/

# Environment Variables
.env
.env.local
.env.cloudflare

# IDEs
/.idea
.vscode/

# Build and Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Logs
*.log